<!DOCTYPE html>
<html>
<header class="header_section">
    <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="/">
				<span>
					Today, we out.
				</span>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class=""> </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav  mx-auto ">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/menu">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/menu">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/book">Book Table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/bookModify">Book Modify</a>
                    </li>
                    {{^cus}}
                        <li class="nav-item">
                            <a class="nav-link" href="/join">Join</a>
                        </li>
                    {{/cus}}
                </ul>
                    {{^cus}}
                    <div class="user_option">
                        <a href="/login" class="user_link">
                            <i class="fa fa-sign-in" aria-hidden="true"></i>
                        </a>
                    </div>
                    {{/cus}}
                    {{#cus}}
                        <div class="user_option">
                            <a class="nav-link" href="/logout">
                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                            </a>
                            <a class="book_info" href="/bookView">
                                <i class="fa fa-book" aria-hidden="true"></i>
                            </a>
                        </div>
                    {{/cus}}
                    {{#role}}
                        <a class="book_info" href="/adminPage">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </a>
                    {{/role}}
            </div>
        </nav>
    </div>
</header>
</html>